<md-card>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <md-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
        <div fxFlex="230px">
          <md-select class="form-control" placeholder="Status" name="status" formControlName="status" multiple>
            <md-option *ngFor="let option of statusOptions" [value]="option.value">
              {{option.label}}
            </md-option>
          </md-select>
        </div>
        <div fxFlex="230px">
          <md-input-container>
            <input mdInput id="hostname" class="form-control" type="text" placeholder="Hostname" formControlName="hostname">
          </md-input-container>
        </div>
        <div fxFlex="230px">
          <md-input-container>
            <input mdInput id="scriptname" class="form-control" type="text" placeholder="Scriptname" formControlName="scriptname">
          </md-input-container>
        </div>
        <div formGroupName="dateTime" fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
          <div fxFlex="230px">
            <div fxLayout="row">
              <div [class.has-error]="!searchForm.get('dateTime').get('dateFrom').valid">
                <md-input-container>
                  <input style="min-width:100px; width:100px" mdInput [mdDatepicker]="pickerFrom" placeholder="Date from" id="dateFrom" class="form-control" formControlName="dateFrom">
                  <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
                </md-input-container>
                <md-datepicker #pickerFrom></md-datepicker>
              </div>
              <div [class.has-error]="!searchForm.get('dateTime').get('hourFrom').valid">
                <md-input-container>
                  <input style="min-width:100px; width:100px" mdInput id="hourFrom" class="form-control" placeholder="Time from" formControlName="hourFrom">
                </md-input-container>
              </div>
            </div>
            <div fxLayout="column">
              <div *ngIf="searchForm.get('dateTime').get('dateFrom').dirty && !searchForm.get('dateTime').get('dateFrom').valid" [class.has-error]="!searchForm.get('dateTime').get('dateFrom').valid">
                <span class="help-block">The date should be in the following format: dd.MM.yyyy (for example 27.05.2016)</span>
              </div>
              <div *ngIf="searchForm.get('dateTime').get('hourFrom').dirty && !searchForm.get('dateTime').get('hourFrom').valid" [class.has-error]="!searchForm.get('dateTime').get('hourFrom').valid">
                <span class="help-block">The time should be in the following format: HH:mm (for example 17:28)</span>
              </div>
            </div>
          </div>
          <div fxFlex="230px">
            <div fxLayout="row">
              <div [class.has-error]="!searchForm.get('dateTime').get('dateTo').valid">
                <md-input-container>
                  <input style="min-width:100px; width:100px" mdInput [mdDatepicker]="pickerTo" placeholder="Date to" id="dateTo" class="form-control" formControlName="dateTo">
                  <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
                </md-input-container>
                <md-datepicker #pickerTo [startAt]="searchForm.get('dateTime').get('dateFrom').value"></md-datepicker>
              </div>
              <div [class.has-error]="!searchForm.get('dateTime').get('hourTo').valid">
                <md-input-container>
                  <input style="min-width:100px; width:100px" mdInput id="hourTo" class="form-control" placeholder="Enter the time" formControlName="hourTo">
                </md-input-container>
              </div>
            </div>
            <div fxLayout="column">
              <div *ngIf="searchForm.get('dateTime').get('dateTo').dirty && !searchForm.get('dateTime').get('dateTo').valid" [class.has-error]="!searchForm.get('dateTime').get('dateTo').valid">
                <span class="help-block">The date should be in the following format: dd.MM.yyyy (for example 27.05.2016)</span>
              </div>
              <div *ngIf="searchForm.get('dateTime').get('hourTo').dirty && !searchForm.get('dateTime').get('hourTo').valid" [class.has-error]="!searchForm.get('dateTime').get('hourTo').valid">
                <span class="help-block">The time should be in the following format: HH:mm (for example 17:28)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="searchForm.get('dateTime').dirty && !searchForm.get('dateTime').valid" [class.has-error]="!searchForm.get('dateTime').valid">
        <span class="help-block">The second date time cannot be lower than the first</span>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" [disabled]="!searchForm.valid"><md-icon>search</md-icon>Search</button>
      <button md-button color="warn" (click)="onSearchClear()"><md-icon>clear</md-icon>Clear</button>
    </md-card-actions>
  </form>
</md-card>
<md-card>
  <md-card-content>
    <md-paginator [pageIndex]="currentPage" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
    </md-paginator>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th></th>
          <th>Instance Status</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Host Name</th>
          <th>Script Name</th>
          <th>Transaction ID</th>
        </tr>
      </thead>
      <tbody *ngIf="!loadingScriptInstances">
        <tr *ngFor="let scriptInstance of scriptInstances">
          <td><button md-button (click)="onDetails(scriptInstance.id)"><md-icon>more_horiz</md-icon> Details</button></td>
          <td>{{scriptInstance.instanceStatus}}</td>
          <td>{{scriptInstance.createdDateTime | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td *ngIf="scriptInstance.endDateTime != null">{{scriptInstance.endDateTime | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td *ngIf="scriptInstance.endDateTime == null">Scriptinstance is not finished</td>
          <td>{{scriptInstance.host?.hostname}}</td>
          <td>{{scriptInstance.script?.scriptname}}</td>
          <td>{{scriptInstance.transactionId}}</td>
        </tr>
      </tbody>
    </table>
    <div fxLayoutAlign="center" *ngIf="loadingScriptInstances">
      <md-spinner></md-spinner>
    </div>
  </md-card-content>
</md-card>