<mat-card>
  <mat-card-header><mat-card-title>Oops... there was an error</mat-card-title></mat-card-header>
  <mat-card-content>
    <button mat-button (click)="showMore = true" *ngIf="!showMore">Show more</button>
    <button mat-button (click)="showMore = false" *ngIf="showMore">Show less</button>
    <div *ngIf="showMore">
      <p>
        <dt>Affected component</dt>
        <dd>{{component}}</dd>
        <dt>Error message</dt>
        <dd>{{error}}</dd>
        <dt>Api URL</dt>
        <dd>{{this.configService.getApiURI()}}</dd>
        <dt>Version</dt>
        <dd>{{configService.getVersion()}}</dd>
      </p>

      <p>Please send this information to the developers.</p>
    </div>
  </mat-card-content>
</mat-card>