<md-card>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <md-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
        <div fxFlex="230px">
          <md-input-container>
            <input mdInput id="hostname" class="form-control" type="text" placeholder="Hostname" formControlName="hostname">
          </md-input-container>
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit"><md-icon>search</md-icon>Search</button>
      <button md-button (click)="onSearchClear()" color="warn"><md-icon>clear</md-icon>Clear</button>
    </md-card-actions>
  </form>
</md-card>
<md-card>
  <md-card-content>
    <button md-button type="button" (click)="onNew()"><md-icon>add</md-icon>New host</button>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th></th>
          <th>Hostname</th>
          <th>FQDN</th>
          <th>Created</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody *ngIf="!loadingHosts">
        <tr *ngFor="let host of hosts">
          <td width="350px">
            <button md-button (click)="onDetails(host.id)"><md-icon>more_horiz</md-icon>Details</button>
            <button md-button (click)="onEdit(host.id)"><md-icon>edit</md-icon>Edit</button>
            <button md-button (click)="openDialog(host.id)"><md-icon>delete</md-icon>Delete</button>
          </td>
          <td>{{host.hostname}}</td>
          <td>{{host.fqdn}}</td>
          <td>{{host.createdDateTime | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td>{{host.lastModDateTime | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
    <div fxLayoutAlign="center" *ngIf="loadingHosts">
      <md-spinner></md-spinner>
    </div>
  </md-card-content>
  <md-card-actions>
    <md-paginator *ngIf="!loadingHosts" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
    </md-paginator>
  </md-card-actions>
</md-card>