<mat-card>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
        <div fxFlex="230px">
          <mat-form-field class="form-control">
            <input matInput id="hostname" type="text" placeholder="Hostname" formControlName="hostname">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit"><mat-icon>search</mat-icon>Search</button>
      <button mat-button (click)="onSearchClear()" color="warn"><mat-icon>clear</mat-icon>Clear</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-button type="button" (click)="onNew()"><mat-icon>add</mat-icon>New host</button>
      <mat-paginator [pageIndex]="currentPage" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th></th>
          <th>Hostname</th>
          <th>FQDN</th>
          <th>Created</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody *ngIf="!loadingHosts">
        <tr *ngFor="let host of hosts">
          <td width="350px">
            <button mat-button (click)="onDetails(host.id)"><mat-icon>more_horiz</mat-icon>Details</button>
            <button mat-button (click)="onEdit(host.id)"><mat-icon>edit</mat-icon>Edit</button>
            <button mat-button (click)="openDialog(host.id)"><mat-icon>delete</mat-icon>Delete</button>
          </td>
          <td>{{host.hostname}}</td>
          <td>{{host.fqdn}}</td>
          <td>{{host.createdDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td>{{host.lastModDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
        </tr>
        <tr *ngIf="hosts.length == 0" >
          <td colspan="100" style="text-align: center !important">There are no items!</td>
        </tr>
      </tbody>
      <tbody *ngIf="loadingHosts">
        <tr>
          <td colspan="100"><div fxLayoutAlign="center"><mat-spinner></mat-spinner></div></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>