<button md-button (click)="goBack()" style="margin-bottom:5px;"><md-icon>arrow_back</md-icon>Go Back</button>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start" style="margin-bottom: 15px;">
  <div fxFlex="30%">
    <md-card>
      <md-card-header>
        <md-card-title>Script Instance Informations</md-card-title>
      </md-card-header>
      <md-card-content>
        <dl class="dl-horizontal">
          <dt>Status</dt>
          <dd>{{scriptInstance?.instanceStatus}}</dd>
          <dt>Start Time</dt>
          <dd>{{scriptInstance?.createdDateTime | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</dd>
          <dt>End Time</dt>
          <dd *ngIf="scriptInstance?.endDateTime != null">{{scriptInstance?.endDateTime | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</dd>
          <dd *ngIf="scriptInstance?.endDateTime == null">Scriptinstance is not finished</dd>
          <dt>Transaction ID </dt>
          <dd>{{scriptInstance?.transactionId}}</dd>
        </dl>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="30%">
    <md-card>
      <md-card-header>
        <md-card-title>Host Informations</md-card-title>
      </md-card-header>
      <md-card-content>
        <dl class="dl-horizontal">
          <dt>Hostname</dt>
          <dd>{{scriptInstance?.host.fqdn}}</dd>
        </dl>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="30%">
    <md-card>
      <md-card-header>
        <md-card-title>Script Informations</md-card-title>
      </md-card-header>
      <md-card-content>

        <dl class="dl-horizontal">
          <dt>Script Name</dt>
          <dd>{{scriptInstance?.script.scriptName}}</dd>
          <dt>Description</dt>
          <dd>{{scriptInstance?.script.description}}</dd>
        </dl>
      </md-card-content>
    </md-card>
  </div>
</div>
<md-card>
  <md-card-header fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutWrap>
    <md-card-title fxFlexAlign="left">Logs</md-card-title>
    <div fxFlexAlign="right">
      <form fxLayout="row" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div fxFlex="230px">
          <md-select class="form-control" placeholder="Log Level" name="logLevel" formControlName="logLevel" multiple>
            <md-option *ngFor="let option of logLevelOptions" [value]="option.value">
              {{option.label}}
            </md-option>
          </md-select>
        </div>
        <div fxFlex="230px">
          <md-input-container>
            <input mdInput id="text" class="form-control" placeholder="Text" formControlName="text">
          </md-input-container>
        </div>
        <button md-button type="submit" [disabled]="!searchForm.valid"><md-icon>search</md-icon>Search</button>
        <button md-button color="warn" (click)="onSearchClear()"><md-icon>clear</md-icon>Clear</button>
      </form>
    </div>
  </md-card-header>
  <md-card-content>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th>Time</th>
          <th>Level</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of scriptInstanceLogs ">
          <td width="200px">{{log.logDateTime | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td width="150px"><span [class]="'logLevel ' + (log.logLevel | logLevelIcon)"><md-icon>{{log.logLevel | logLevelIcon}}</md-icon></span> {{log.logLevel}}</td>
          <td>{{log.logText}}</td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
  <md-card-actions>
    <md-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
    </md-paginator>
  </md-card-actions>
</md-card>