<button mat-button (click)="goBack()" style="margin-bottom:5px;"><mat-icon>arrow_back</mat-icon>Go Back</button>
<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around start" style="margin-bottom: 15px;">
  <div fxFlex="32%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Script Instance Informations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl class="dl-horizontal" *ngIf="!loadingScriptInstance">
          <dt>Status</dt>
          <dd>{{scriptInstance?.instanceStatus}}</dd>
          <dt>Start Time</dt>
          <dd>{{scriptInstance?.createdDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</dd>
          <dt>End Time</dt>
          <dd *ngIf="scriptInstance?.endDateTime != null">{{scriptInstance?.endDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</dd>
          <dd *ngIf="scriptInstance?.endDateTime == null">Scriptinstance is not finished</dd>
          <dt>Transaction ID </dt>
          <dd>{{scriptInstance?.transactionId}}</dd>
        </dl>
        <div fxLayoutAlign="center" *ngIf="loadingScriptInstance">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Host Informations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl class="dl-horizontal" *ngIf="scriptInstance?.host != null && !loadingScriptInstance">
          <dt>Hostname</dt>
          <dd>{{scriptInstance?.host.fqdn}}</dd>
        </dl>
        <div fxLayoutAlign="center" *ngIf="loadingScriptInstance">
          <mat-spinner></mat-spinner>
        </div>
        <span *ngIf="scriptInstance?.host == null">Host doesn't exist anymore.</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Script Informations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl class="dl-horizontal" *ngIf="scriptInstance?.script != null && !loadingScriptInstance">
          <dt>Script Name</dt>
          <dd>{{scriptInstance?.script.scriptname}}</dd>
          <dt>Description</dt>
          <dd>{{scriptInstance?.script.description}}</dd>
        </dl>
        <div fxLayoutAlign="center" *ngIf="loadingScriptInstance">
          <mat-spinner></mat-spinner>
        </div>
        <span *ngIf="scriptInstance?.script == null">Script doesn't exist anymore.</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutWrap>
    <mat-card-title fxFlexAlign="left">Logs</mat-card-title>
    <div fxFlexAlign="right">
      <form fxLayout="row" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div fxFlex="230px">
          <mat-form-field class="form-control">
            <mat-select placeholder="Log Level" name="logLevel" formControlName="logLevel" multiple>
              <mat-option *ngFor="let option of logLevelOptions" [value]="option.value">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="230px">
          <mat-form-field class="form-control">
            <input matInput id="text" type="text" placeholder="Text" formControlName="text">
          </mat-form-field>
        </div>
        <button mat-button type="submit" [disabled]="!searchForm.valid"><mat-icon>search</mat-icon>Search</button>
        <button mat-button color="warn" (click)="onSearchClear()"><mat-icon>clear</mat-icon>Clear</button>
      </form>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-paginator [pageIndex]="currentPage" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
    </mat-paginator>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th>Time</th>
          <th>Level</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody *ngIf="!loadingScriptInstanceLogs">
        <tr *ngFor="let log of scriptInstanceLogs ">
          <td width="200px">{{log.logDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td width="150px"><span [class]="'logLevel ' + (log.logLevel | logLevelIcon)"><mat-icon>{{log.logLevel | logLevelIcon}}</mat-icon></span>            {{log.logLevel}}</td>
          <td>{{log.logText}}</td>
        </tr>
      </tbody>
    </table>
    <div fxLayoutAlign="center" *ngIf="loadingScriptInstanceLogs">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>