<mat-card>
  <mat-card-header>
    <mat-card-title>Latest 10 Log Entries</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th>Log Date Time</th>
          <th>Log Level</th>
          <th>Log Text</th>
          <th>Script Instance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let latestLog of latestLogs">
          <td>{{latestLog.logDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td><span [class]="'logLevel ' + (latestLog.logLevel | logLevelIcon)"><mat-icon>{{latestLog.logLevel | logLevelIcon}}</mat-icon></span>{{latestLog.logLevel}}</td>
          <td>{{latestLog.logText}}</td>
          <td><a [routerLink]="['scriptinstances', latestLog.scriptInstanceId]" [queryParams]="{returnUrl: '/'}">{{latestLog.scriptInstanceId}}</a></td>
        </tr>
      </tbody>
    </table>
    <div fxLayoutAlign="center" *ngIf="loadingLogs">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>