<md-card>
  <md-card-title>Latest 10 Log Entries</md-card-title>
  <md-card-content>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th>Log Date Time</th>
          <th>Log Level</th>
          <th>Log Text</th>
          <th>Script Instance</th>
          <th>Script Name</th>
          <th>Hostname</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let latestLog of latestLogs">
          <td>{{latestLog.logDateTime | date:"dd.MM.yyyy HH:mm:ss"}}</td>
          <td><span [class]="'logLevel ' + logLevel[latestLog.logLevel]"><md-icon>{{logLevelIcon[latestLog.logLevel]}}</md-icon></span> {{logLevel[latestLog.logLevel]}}</td>
          <td>{{latestLog.logText}}</td>
          <td><a [routerLink]="['scriptinstances', latestLog.scriptInstance]" [queryParams]="{returnUrl: '/'}">{{latestLog.scriptInstance}}</a></td>
          <td>{{latestLog.scriptName}}</td>
          <td>{{latestLog.hostName}}</td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>