<mat-card>
	<mat-card-header><mat-card-title>Log Statistics</mat-card-title></mat-card-header>
	<mat-card-content>
		<div fxLayout="row" fxLayoutAlign="space-around start">
			<mat-card class="log-card" style="background-color: #EEEEEE">
				<mat-card-header>
					<mat-card-header><mat-card-title>Total amount of logs stored</mat-card-title></mat-card-header>
					<mat-card-subtitle>{{totalLogs}} Logs</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
			<mat-card class="log-card" style="background-color: #FFCC80">
				<mat-card-header>
					<mat-card-header><mat-card-title>Total amount of warning logs</mat-card-title></mat-card-header>
					<mat-card-subtitle>{{totalByLogLevel[2]}} Logs</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
			<mat-card class="log-card" style="background-color: #EF9A9A">
				<mat-card-header>
					<mat-card-header><mat-card-title>Total amount of error logs</mat-card-title></mat-card-header>
					<mat-card-subtitle>{{totalByLogLevel[1]}} Logs</mat-card-subtitle>
				</mat-card-header>
			</mat-card>
		</div>
	</mat-card-content>
</mat-card>