<mat-card>
  <mat-card-header>
    <mat-card-header><mat-card-title>Script {{formFunction}}</mat-card-title></mat-card-header>
  </mat-card-header>
  <form [formGroup]="scriptForm" (ngSubmit)="onSave()">
    <mat-card-content>
      <div [class.has-error]="!scriptForm.controls['scriptName'].valid && !scriptForm.controls['scriptName'].pending">
        <mat-form-field class="full-width form-control">
          <input matInput id="scriptName" class="form-control" type="text" placeholder="Scriptname" formControlName="scriptName">
          <mat-hint *ngIf="scriptForm.controls['scriptName'].touched && !scriptForm.controls['scriptName'].valid && !scriptForm.controls['scriptName'].pending">
            <span class="help-block" *ngIf="scriptForm.controls['scriptName'].errors.required">Scriptname is required</span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width form-control">
          <input matInput id="description" class="form-control" type="text" placeholder="Description" formControlName="description">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" *ngIf="formFunction == 'edit'" [disabled]="!scriptForm.valid && !scriptForm.pending"><mat-icon>save</mat-icon>Save</button>
      <button mat-button type="submit" *ngIf="formFunction == 'new'" [disabled]="!scriptForm.valid && !scriptForm.pending"><mat-icon>save</mat-icon>Create</button>
      <button mat-button color="warn" type="button" (click)="goBack()"><mat-icon>cancel</mat-icon>Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>