<pagination-template #pagination="paginationApi" [id]="id" [maxSize]="maxSize" (pageChange)="pageChange.emit($event)">
  <ul class="pagination">
    <li [class.disabled]="pagination.isFirstPage()" style="cursor: pointer">
      <a (click)="pagination.previous()"><md-icon>chevron_left</md-icon></a>
    </li>
    <li *ngFor="let page of pagination.pages" [class.active]="pagination.getCurrent() === page.value" [class.waves-effect]="pagination.getCurrent() !== page.value">
      <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value" style="cursor: pointer;">{{ page.label }}</a>
      <a *ngIf="pagination.getCurrent() === page.value" class="md-primary-background">{{ page.label }}</a>
    </li>
    <li [class.disabled]="pagination.isLastPage()" style="cursor: pointer">
      <a (click)="pagination.next()"><md-icon>chevron_right</md-icon></a>
    </li>
  </ul>
</pagination-template>