<mat-card>
  <mat-card-header>
    <mat-card-header><mat-card-title>Host Detail</mat-card-title></mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <dl class="dl-horizontal">
      <dt>Hostname</dt>
      <dd>{{host?.hostname}}</dd>
      <dt>FQDN</dt>
      <dd>{{host?.fqdn}}</dd>
      <dt>ApiKey</dt>
      <dd>{{host?.apiKey}}</dd>
      <dt>Created</dt>
      <dd>{{host?.createdDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</dd>
      <dt>Modified</dt>
      <dd>{{host?.lastModDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onEdit()"><mat-icon>edit</mat-icon>Edit</button>
    <button mat-button (click)="goBack()"><mat-icon>close</mat-icon>Close</button>
  </mat-card-actions>
</mat-card>