<mat-card>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
        <div fxFlex="230px">
          <mat-form-field class="form-control">
            <input matInput id="scriptname" type="text" placeholder="Scriptname" formControlName="scriptname">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit"><mat-icon>search</mat-icon>Search</button>
      <button mat-button color="warn" (click)="onSearchClear()"><mat-icon>clear</mat-icon>Clear</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button mat-button type="button" (click)="onNew()"><mat-icon>add</mat-icon>New script</button>
      <mat-paginator [pageIndex]="currentPage" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
    <table class="mdl-data-table mdl-js-data-table table-shadow">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Scriptname</th>
          <th>Description</th>
          <th>Created</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <tbody *ngIf="loadingScripts"></tbody>
      <tbody *ngIf="!loadingScripts">
        <tr *ngFor="let script of scripts">
          <td width="350px">
            <button mat-button (click)="onDetails(script.id)"><mat-icon>more_horiz</mat-icon>Details</button>
            <button mat-button (click)="onEdit(script.id)"><mat-icon>edit</mat-icon>Edit</button>
            <button mat-button (click)="openDialog(script.id)"><mat-icon>delete</mat-icon>Delete</button>
          </td>
          <td>{{script.id}}</td>
          <td>{{script.scriptname}}</td>
          <td>{{script.description}}</td>
          <td>{{script.createdDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
          <td>{{script.lastModDateTime | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</td>
        </tr>
        <tr *ngIf="scripts.length == 0" >
          <td colspan="100" style="text-align: center !important">There are no items!</td>
        </tr>
      </tbody>
      <tbody *ngIf="loadingScripts">
        <tr>
          <td colspan="100"><div fxLayoutAlign="center"><mat-spinner></mat-spinner></div></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>