<md-toolbar color="primary">
  <span class="appTitle">PoshLogMonitor</span>
  <div *ngFor="let navItem of navItems">
    <button md-button routerLink="{{navItem.route}}" routerLinkActive="" [routerLinkActiveOptions]="{exact: navItem.exact}">{{navItem.name}}</button>
  </div>
</md-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
<md-toolbar color="primary" class="footer">
  <span>
    PoshLogMonitor {{configService.getVersion()}} | Copyright &copy; 2017 <a href="https://www.inventx.ch">www.inventx.ch</a> - All rights reserved.
  </span>
</md-toolbar>